<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarUsuario(input.value)" type="text" class="form-control" placeholder="Buscar producto">
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong><br>
            <i class="fa fa-refresh fa-spin fa-2x"></i><br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Productos Registrados {{registros}}</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Categoria</th>
                            <th>Imagen</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of productos">
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.precio}}</td>
                            <td>{{producto.categoria.nombre}}</td>
                            <td><img [src]="producto.imagen.principal" class="img-50 img-circle"></td>
                            <td>
                                <button class="btn btn-primary" [routerLink]="['/producto',producto._id]">
                                <i class="fa fa-eye"></i>
                              </button>
                                <button class="btn btn-primary">
                                  <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary" (click)="paginar(-5)"> Anterior</button>
                <button class="btn btn-secondary" (click)="paginar(+5)"> Siguiente</button>

            </div>
        </div>
    </div>
</div>